
{% extends "base.html" %}
{% block content %}
    <form class="input-group" action="/search_video" method="post">
         <input class="form-control" id="content" name = "content" type = "text" value="">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
    </span>
    </form>

    <div>
        <h2>测评视频列表</h2>
        {% if videos %}
            <table class="table">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>地址</th>
                        <th>时长</th>
                        <th>车型</th>
                    </tr>
                </thead>
                <tbody>
                   {% for video in videos %}
                        <tr>
                            <td>{{ video.video_title }}</td>
                            <td><a href="{{ video.video_play_url }}">{{ video.video_play_url }}</a></td>
                            <td>{{ video.video_timel }} </td>
                            <td>{{ video.car_level }}</td>
                        </tr>
                   {% endfor %}
                </tbody>
            </table>
    {% else %}
            <h3 class="text-info">No Video,please Search</h3>
    {% endif %}
    </div>
{% endblock %}

